@import url("theme.css");

.wy-nav-content {
  max-width: 900px !important;
}

.figclass {
font-style: italic;
}

.hatnote
{
    border-color: #c8c8c8 ;
    border-style: solid ;
    border-width: 1px ;
    font-size: x-small ;
    font-style: italic ;
    padding: 12px;
    padding-bottom: 0px;
    margin-bottom: 24px;
}

.hatnote>p {margin-bottom: 12px;}

.hatnote-gray { background-color: #e8e8e8 ; color: #000000 ; }
.hatnote-yellow { background-color: #ffffe8 ; color: #000000 ; }
.hatnote-red { background-color: #ffe8e8 ; color: #000000 ; }

.docutils caption 
{
  caption-side: bottom; 
  font: italic 100%/1 Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important;
  font-weight: 400 !important;
  color: #404040 !important;  
}

p.caption { margin: 12px !important; }

.docutils td>p { font-size: 1rem !important; }
.docutils th>p { font-size: 1.1rem !important; }

/*.docutils .wy-table-bordered-all  
{ 
  border-top-width: 2px !important; 
  border-bottom-width: 2px !important; 
  border-left-width: 2px !important; 
  border-right-width: 2px !important; 
}*/

hr {border-top: 1px solid #d0d0d0 !important; }

.docutils td { border: 1px solid #d0d0d0 !important; }

.docutils th 
{
  border: 1px solid #d0d0d0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.sidebar dl { font-size: 100% !important; }
.sidebar ul { font-size: 100% !important; }
.sidebar p { font-size: 100% !important; }

.sidebar-title
{
  margin: -24px !important;
  margin-bottom: 24px !important;
  margin-left: -12px !important;
}  

.sidebar 
{ padding: 24px !important;
  padding-left: 12px !important;
  width: 42% !important;
}

code 
{ 
  font-size: 100% !important;
  padding: 0px 5px !important;
  white-space: nowrap !important;
}

.std.std-ref { text-decoration: underline !important; }

